#!/usr/bin/env bash
{{ ansible_managed | comment }}

source {{ borgmatic__backup_script_directory }}/borgmatic-common.sh

msg "Start ${_logName} ${_timestamp}"
check_backup
log_rotate
msg "End ${_logName} ${_timestamp}"

exit 0
