#!/usr/bin/env bash
{{ ansible_managed | comment }}

[ "$(id -u)" -ne 0 ] && _echo "ERROR" "Must be run by root" && exit 1

_timestamp="$(date +%Y-%m-%d)"
_sleep=300

_logsDir="{{ borgmatic__logs_directory }}"
[ ! -d "$_logsDir" ] && _echo "WARNING" "$_logsDir not found" && mkdir -p "$_logsDir"
_logName="$(basename "$0" .sh)"
_logFile="${_logsDir}/${_logName}-${_timestamp}.log"
_log_verbosity="{{ borgmatic__logs_verbosity }}"

_borgmatic="{{ borgmatic__bin_path }}/borgmatic"

_borgmatic_default="{{ borgmatic__conf_directory }}/{{ borgmatic__conf_host_file }}"
_borgmatic_hourly_directory="{{ borgmatic__conf_additional_directory }}"
_borgmatic_daily_directory="{{ borgmatic__conf_additional_daily_directory }}"

_borgmatic_directory=($_borgmatic_default -c $_borgmatic_hourly_directory)

if [ "$1" == "daily" ] ;
then
    _borgmatic_directory=($_borgmatic_daily_directory)
fi

_echo() {

  local level="$1"
  shift 1
  echo -e "[$(date +%F\ %T,%3N)] ${level}: $*" >> "${_logFile}"

}

is_running() {

  pgrep borgmatic > /dev/null 2>&1
  return $?

}

wait_and_retry() {

  if is_running; then
    _echo "WARNING" "Borgmatic is running, wait $_sleep seconds"
    # wait 2 minutes
    sleep $_sleep
    if is_running; then
      _echo "ERROR" "Borgmatic is still running, exit"
      exit 1
    else
      return 0
    fi
  else
    return 0
  fi

}

make_backup() {

  wait_and_retry
  _echo "INFO" "=== Make backup"
  $_borgmatic -c ${_borgmatic_directory[*]} --log-file-verbosity "${_log_verbosity}" --log-file "${_logFile}" --stats 1> /dev/null

}

check_backup() {

  wait_and_retry
  _echo "INFO" "=== Check backup"
  $_borgmatic -c ${_borgmatic_directory[*]} --log-file-verbosity "${_log_verbosity}" --log-file "${_logFile}" check --only repository --only data 1> /dev/null

}

log_rotate() {

  local _to_archive
  local _to_remove

  _to_archive="$(find "$_logsDir" -name "*${_logName}*.log" -mtime +{{ borgmatic__logs_archive }} | wc -l)"
  _to_remove="$(find "$_logsDir" -name "*${_logName}*.log.gz" -mtime +{{ borgmatic__logs_remove }} | wc -l)"
  _echo "INFO" "=== Log rotation"
  if [ "$_to_archive" -gt 0 ]; then
    _echo "INFO" "File to archive: $(find "$_logsDir" -name "*${_logName}*.log" -mtime +{{ borgmatic__logs_archive }} | xargs)"
    find "$_logsDir" -name "*${_logName}*.log" -mtime +{{ borgmatic__logs_archive }} -exec gzip -v {} \; > /dev/null 2>&1
  else
    _echo "INFO" "Nothing to archive"
  fi
  if [ "$_to_remove" -gt 0 ]; then
    _echo "INFO" "File to remove: $(find "$_logsDir" -name "*${_logName}*.log.gz" -mtime +{{ borgmatic__logs_remove }} | xargs)"
    find "$_logsDir" -name "*${_logName}*.log.gz" -mtime +{{ borgmatic__logs_remove }} -exec rm -v {} \; > /dev/null 2>&1
  else
    _echo "INFO" "Nothing to remove"
  fi

}

msg() {

  local _msg="$*"

  _echo "INFO" "${_msg} -- $(date +%H:%M:%S)"
  _echo "INFO" "=================================================="

}
