{{ ansible_managed | comment }}

compression: auto,zstd
exclude_caches: true
exclude_if_present: 
  - '.nobackup'
{% if borgmatic__ssh_command is defined and borgmatic__ssh_command | length > 0 %}
ssh_command: {{ borgmatic__ssh_command }}
{% endif %}
{% if borgmatic__borg_cache_directory is defined and borgmatic__borg_cache_directory | length > 0 %}
borg_cache_directory: {{ borgmatic__borg_cache_directory }}
{% endif %}
encryption_passphrase: {{ borgmatic__passphrase }}

# Retention
keep_hourly: {{ borgmatic__prune_hourly }}
keep_daily: {{ borgmatic__prune_daily }}
keep_weekly: {{ borgmatic__prune_weekly }}
keep_monthly: {{ borgmatic__prune_monthly }}
keep_yearly: {{ borgmatic__prune_yearly }}

# Checks
checks:
{% for check in borgmatic__consistency_check_list %}
  - name: '{{ check.name }}'
    frequency: '{{ check.frequency }}'
{% endfor %}
check_last: 3
{% if borgmatic__healtchecks_url | length > 0 %}
healthchecks:
  ping_url: '{{ borgmatic__healtchecks_url }}'
{% endif %}

before_backup:
  - echo "`date` - Starting a backup on {repository}"
before_prune:
  - echo "`date` - Starting pruning on {repository}"
before_check:
  - echo "`date` - Starting checks on {repository}"
after_backup:
  - echo "`date` - Finished a backup on {repository}"
after_prune:
  - echo "`date` - Finished pruning on {repository}"
after_check:
  - echo "`date` - Finished checks on {repository}"
