{{ ansible_managed | comment }}

<<: !include {{ borgmatic__conf_directory }}/{{ borgmatic__conf_common }}

source_directories:
{% for i in borgmatic__host_backup %}
{% for dir in i.directory %}
  - {{ dir }}
{% endfor %}
{% endfor %}
repositories:
{% for repo in borgmatic__repository %}
  - path: '{{ repo.name }}'
{% if repo.label is defined %}
    label: '{{ repo.label }}'
{% endif %}
{% endfor %}
exclude_from:
  - '{{ borgmatic__conf_directory }}/{{ borgmatic__conf_file_exclude_default }}'
  - '{{ borgmatic__conf_directory }}/{{ borgmatic__conf_file_exclude_host }}'
archive_name_format: '{{ borgmatic__host_backup_name }}-{now}'
