{{ ansible_managed | comment }}

<<: !include {{ borgmatic__conf_directory }}/{{ borgmatic__conf_common }}

source_directories:
{% for dir in item.directory %}
  - '{{ dir }}'
{% endfor %}
repositories:
{% for repo in item.repository %}
  - path: '{{ repo.name }}'
{% if repo.label is defined %}
    label: '{{ repo.label }}'
{% endif %}
{% endfor %}
{% if item.passphrase is defined and item.passphrase | length > 0 %}
encryption_passphrase: {{ item.passphrase }}
{% endif %}
exclude_from:
  - '{{ borgmatic__conf_directory }}/{{ borgmatic__conf_file_exclude_default }}'
  - '{{ borgmatic__conf_directory }}/exclude-{{ item.name }}.conf'
archive_name_format: '{{ item.name }}-{now}'

{% if borgmatic__db_enabled or (item.healthchecks is defined and item.healthchecks | length > 0) %}
{% if borgmatic__db_enabled %}
before_backup:
  - echo "`date` - Starting db dump"
  - '{{ borgmatic__db_directory }}/bin/db_dump.sh'
  - echo "`date` - Finished db dump"
{% endif %}
{% if item.healthchecks is defined and item.healthchecks | length > 0 %}
healthchecks:
  ping_url: '{{ item.healthchecks }}'
{% endif %}
{% endif %}
